{% extends "layout.html" %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">所有課程</h1>
</div>

<div class="row g-3 mb-4 align-items-center">
    <div class="col-md-6">
        <input type="text" id="searchInput" class="form-control" placeholder="搜尋課程名稱...">
    </div>
    <div class="col-md-6">
        <div class="btn-group w-100" role="group" aria-label="Filter by status">
            <button type="button" class="btn btn-outline-secondary filter-btn active" data-status="all">全部</button>
            <button type="button" class="btn btn-outline-secondary filter-btn" data-status="報名中">報名中</button>
            <button type="button" class="btn btn-outline-secondary filter-btn" data-status="尚未開放">尚未開放</button>
            <button type="button" class="btn btn-outline-secondary filter-btn" data-status="報名截止">報名截止</button>
        </div>
    </div>
</div>
<div class="row" id="course-list"></div>


    <script>
        const IS_USER_AUTHENTICATED = {{ current_user.is_authenticated | tojson }};
    </script>


{% endblock %}
